/* Shared style */
.colorshare{
  color: red;
}


/* HEADER IMAGE SECTION */
.bg-image {
  width: 100%;
    position: relative;
    text-align: center;
    opacity: 0.9;
    margin-top: 50px;
    margin-bottom: 50px;

 
}

.bg-image img {
  width: 90%;
  height: auto; 
  margin: auto;


}
.wellcome-des {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    text-align: center;
    font-size: 40px;
   
}

/* new-year-sec */

.new-year-sec{
  width: 800px;
  height: 800px;
  margin: auto;
  text-align: center;
}
.discount {
  font-size: 50px;
  color: red;
}
.holiday{
  color: red;
}
.new-year-sec img{
  width: 700px;
  height: 500px;
}

/* midnight-party-section */

.midnight-party{
  background-image: url('../images/Vectorrr.png');
  width: 1080px;
  height: 600px;
  position: relative;
  margin: auto;

}
.midnight-party img{
  width: 310px;
  height: 450px;
  position: absolute;
  right: 0;


}
.textsec{
  color: white;
  text-align: center;
 
}
.btn{
  background: red;
  color: white;
  padding: 10px;
  
}

/* place-date-time */

.place-date-time{
  width: 1080px;
  color: #070211;
  text-align: center;
  background: #F6E3E3;
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

span{
  color: red;
}


/* coming-soon-section */
.coming-soon{
  display: flex;
  width: 980px;
  text-align: center;
  margin: auto;
}
.div1{
  width: 400px;
  height: 260px;
}
.div2{
  width: 400px;
  height: 260px;
}
  
.div2 img{
  width: 220px;
  border: 5px solid red;
  border-radius: 50%;
}

.div3{
  width: 400px;
  height: 260px;
}

/* what-is-section */
.what-is{
  text-align: ;
}
.description{
  width: 600px;
  margin: auto;
}
.discount-container{
  position: relative;
  margin-top: 400px;
  margin-bottom: 0;
 
}
.child{
  position: absolute;
  translate: 100px;
  top: -250px;
  width: 500px;
}
.child2{
  text-align: right;
  margin-right: 100px;
  translate: -70px -500px;

}
/* the-best-gift*/
.the-best-gift{
  text-align: left;
}
.best-gift-container{

}
.best-gift-container img{
  width: 300px;
  height: 325px;
}

/* Subscribe section */


.sub{
  display: flex;
  text-align: center;
  width: 600px;
  margin: auto;
  background: #F2D6D6;

}
.sub input{
  padding: 10px;
  border-radius: 10px;
}

.btn-sub{
  background: red;
  color: white;
  padding: 10px;
  border-radius: 0 10px 10px 0;
  margin-left: 0;
}



.footer{
  background: black;
  width: 1260px;
  height: 600px;
  margin-top: 40px;
  color: white;
}
.foot-des{
  display: flex;
  justify-content: space-between;
}
.p1{
  width: 375px;
  height: 80px;
  margin: 100px;
}
.p2{
  margin: 100px;
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.lower-text{
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  margin-left: 100px;
}




